# Visual Studio artifacts
.vs/
*.user
*.suo
*.ipch
*.VC.db
*.obj
*.log
*.pch
*.exe
*.pdb
*.cache
*.ilk
*.ncb
*.aps
*.bak
*.db

# Build directories
build/

# Qt Creator and qmake temporary files
*.pro.user
*.pro.user.*
*.qrc.depends
*.qmake.stash
*.qmake.cache
